@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tooltip-bg: white;
  --tooltip-border: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tooltip-bg: #1f2937;
    --tooltip-border: #374151;
  }
}

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}